RewriteEngine on

# Forcer HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://plomberiejoanbret.fr%{REQUEST_URI} [R=301,L]

# Redirection de index.html vers l'URL racine
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Supprimer définitivement les anciennes pages en renvoyant un code 410
Redirect gone /realisations.html
Redirect gone /Pages/Prestations/Prestations.html
Redirect gone /Pages/Réalisations/realisations.html

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/plomepuw/public_html/backend"
PassengerBaseURI "/"
PassengerNodejs "/home/plomepuw/nodevenv/public_html/backend/20/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END