@import "../style.scss";


.image{
    .container{
        display : flex;
        flex-direction: column;
        justify-content: flex-end;
        gap : 5vh;
        width : 100%;
        height : 100vh;
        padding : 10vh 10vw;

        @media screen and (max-width : 990px){
            flex-direction: column-reverse;
            padding : 5vh 30px;
            min-height : 100vh;
            height : auto;
        }
    
        &_objet{
            display : flex;
            align-items: flex-end;
            gap : 5vw;
            width : 100%;
            @media screen and (max-width : 990px){
                flex-direction: column;
                align-items: flex-start;
                gap : 5vh;
            }
    
            &-img{
                width : 30vw;
                height : 65vh;
                overflow : hidden;
                @media screen and (max-width : 990px){
                    width : 100%;
                    height : auto;
                }
    
                img{
                    width : 100%;
                    height : 100%;
                    object-fit: contain;
                    object-position: left;
                }
            }
    
            &-details{
                display : flex;
                flex-direction: column;
                gap : 3vh;
                height : 100%;
                padding-top : 5vh;
                @media screen and (max-width : 990px){
                    padding-top : 0;
                }
    
                h2{
                    font-size : 1.5vw;
                    width : 20vw;
                    @media screen and (max-width : 990px){
                        font-size : 7vw;
                        width : 100%;
                    }
                }
    
                &--description{
                    width : 35vw;
                    margin-bottom : 7vh;
                    @media screen and (max-width : 990px){
                        width : 100%;
                        margin-bottom : 3vh;
                    }
                }
    
                .bouton{
                    &.btnFiltre{
                        font-size : 1vw;
                        text-transform : none;
                        min-height : 4vh;
                        padding : 0 1vw;
                        border-width : 1px;
                        font-weight : normal;
                        cursor : initial;
                        pointer-events: none;
                        @media screen and (max-width : 990px){
                            padding : 0 5vw;
                            font-size : 4vw;
                        }
                    }
                }
            }   
        }
    
        &_buttons{
            display : flex;
            gap : 2.5vw;
    
            .bouton{
                border-width : 1px;
                text-transform: none;
                min-height : 5vh;
                @media screen and (max-width:990px){
                    font-size: 5vw;
                } 
            }
        }
    }
}

