@import "../style.scss";


.image{
    .container{
        display : flex;
        flex-direction: column;
        justify-content: flex-end;
        gap : 5vh;
        width : 100%;
        height : 100vh;
        padding : 10vh 10vw;

        @media screen and (max-width : 990px){
            flex-direction: column-reverse;
            padding : 5vh 30px;
            min-height : 100vh;
            height : auto;
        }
    
        &_objet{
            display : flex;
            align-items: flex-end;
            gap : 5vw;
            width : 100%;
            @media screen and (max-width : 990px){
                flex-direction: column;
                align-items: flex-start;
                gap : 5vh;
            }
    
            &-img{
                width : 30vw;
                height : 65vh;
                overflow : hidden;
                @media screen and (max-width : 990px){
                    width : 100%;
                    height : auto;
                }
    
                img{
                    width : 100%;
                    height : 100%;
                    object-fit: contain;
                    object-position: left;
                }
            }
    
            &-details{
                display : flex;
                flex-direction: column;
                gap : 3vh;
                height : 100%;
                padding-top : 5vh;
                @media screen and (max-width : 990px){
                    padding-top : 0;
                }
    
                h2{
                    font-size : 1.5vw;
                    width : 20vw;
                    @media screen and (max-width : 990px){
                        font-size : 7vw;
                        width : 100%;
                    }
                }
    
                &--description{
                    width : 35vw;
                    margin-bottom : 7vh;
                    @media screen and (max-width : 990px){
                        width : 100%;
                        margin-bottom : 0;
                    }
                }
    
                .bouton{
                    font-size : 1vw;
                    text-transform : none;
                    min-height : fit-content;
                    padding : 1vh 1vw;
                    border-width : 1px;
                    font-weight : normal;
                    cursor : initial;
                    pointer-events: none;
                    @media screen and (max-width : 990px){
                        padding : 1vh 5vw;
                        font-size : 3vw;
                    }
                }
            }   
        }
    
        &_buttons{
            display : flex;
            gap : 2vw;
    
            .bouton{
                border-width : 1px;
                text-transform: none;
                min-height : 5vh;
                @media screen and (max-width:990px){
                    padding : 0 10vw;
                    font-size: 5vw;
                    min-height : 5vh;
                } 
            }
        }
    }
    
    .modal{
        position : fixed;
        top : 0;
        left : 0;
        display : none;
        justify-content: center;
        align-items: center;
        width : 100%;
        height : 100vh;
        background-color: #373636d4;
        z-index : 105;
        @media screen and (max-width : 990px){
            padding : 10vh 30px;
        }
    
        &_form{
            position : relative;
            display : flex;
            flex-direction: column;     
            gap : 7vh;
            background-color: $blanc;
            padding : 5vh 5vw; 
            border-radius : 20px;
            @media screen and (max-width : 990px){
                justify-content: flex-end;
                width : 100%;
                height : 100%;
                padding : 5vh 30px;
            }
    
            &-close{
                position : absolute;
                top : 2.5vh;
                right : 2vw;
                width : 3vw;
                height : 3vw;
                display : flex;
                justify-content: center;
                align-items: center;
                border-radius : 100%;
                transition : .5s ease;
                will-change : transform;
                cursor : pointer;
    
                @media screen and (max-width : 990px){
                    width : 15vw;
                    height : 15vw;
                }
        
                &-barre{
                    position : absolute;           
                    width : 1.5vw;
                    height : 2px;
                    background-color: $noir;
                    transition : .3s ease;
                    @media screen and (max-width : 990px){
                        width : 5vw;
                    }
        
                    &--1 {
                        top : 50%;
                        left : 50%;
                        transform : translate(-50%, -50%) rotate(45deg);
                    }
        
                    &--2 {
                        top : 50%;
                        left : 50%;
                        transform : translate(-50%, -50%) rotate(-45deg);
                    }
                }
        
                &:hover{
                    background-color: $noir;
                    .modal_form-close-barre{
                        background-color : $blanc;
                    }
                }
            }
    
            h2{
                font-size : 1.5vw;
                @media screen and (max-width : 990px){
                    font-size : 6vw;
                }
            }
    
            &-fieldset{
                display : flex;
                flex-direction: column;
                gap : 3.5vh;
    
                fieldset{
                    display : flex;
                    flex-direction: column;
                    gap : 1vh;
    
                    label{
                        font-family: "Archivo";
                        line-height : 1.2;
                        font-size: 1vw;
                        font-weight : 600;
                        color : $noir;
                        padding-left : 10px;
                        @media screen and (max-width : 990px){
                            font-size: 3vw;
                        }
                    }
    
                    #title, #description, #tag-select, option{
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        width : 30vw;
                        font-size : 1vw;
                        padding : 10px;
                        border : 1px solid $noir;
                        border-radius : 100vmax;
                        font-family : "Ysabeau Office";
                        @media screen and (max-width : 990px){
                            width : 100%;
                            font-size: 3vw;
                        }
                    }
    
                    #file{
                        font-size : 1vw;
                        padding : 5px;
                        border-radius : 5px;
                        font-family : "Ysabeau Office";
                        @media screen and (max-width : 990px){
                            font-size: 3vw;
                        }
                    }
    
                    textarea{
                        min-height : 15vh;
                        resize: none;
                        border-radius : 15px !important;
                        @media screen and (max-width : 990px){
                            min-height : 15vh;
                        }
                    }
                }
            }
    
            &-bouton{
                align-self: flex-end;
    
                .bouton{
                    border-width : 1px;
                    text-transform: none;
                    min-height : 5vh;
                    @media screen and (max-width:990px){
                        padding : 0 10vw;
                        font-size: 5vw;
                        min-height : 5vh;
                    } 
                }
            }
        }
    
        &.active{
            display : flex;
        }
    }
}

