@import "../style.scss";

.login{
    overflow : hidden;

    .header{

        &_img{
            width : 40vw;
            @media screen and (max-width : 990px){
                width : 100%;
                height : 35vh;  
            }
        }
    
        &_login{
            display : flex;
            align-items: center;
            width : 60vw;
            height : 100%;
            padding : 10vh 8.5vw; 
            @media screen and (max-width : 990px){
                width : 100%;
                height : 65vh;
                padding : 0 30px;
            }
        
            &-form{
                display : flex;
                flex-direction: column;
                gap : 10vh;
                @media screen and (max-width : 990px){
                    gap : 5vh;
                    width : 100%;
                }
        
                h1{
                    font-size : 4vw;
                    margin-bottom : 5vh;
                    @media screen and (max-width : 990px){
                        font-size : 6vw;
                    }
                }
        
                &--fieldset{
                    position : relative;
                    display : flex;
                    flex-direction: column;
                    gap : 5vh;
                    @media screen and (max-width : 990px){
                        gap : 2.5vh;
                    }
        
                    fieldset{
                        display : flex;
                        flex-direction: column;
                        gap : 2vh;
                        min-height : 2vw;
                        @media screen and (max-width : 990px){
                            gap : 1vh;
                            min-height : auto;
                        }
        
                        label{
                            font-family: "Ysabeau Office";
                            line-height : 1.2;
                            font-size: 1.1vw;
                            font-weight : 600;
                            color : $noir;
                            padding-left : 15px;
                            @media screen and (max-width : 990px){
                                font-size: 5vw;
                                padding-left : 20px;
                            }
                        }
        
                        #email, #password{
                            width : 100%;
                            font-size : 1.1vw;
                            padding : 0 15px;
                            min-height : 6vh;
                            border : 1px solid $noir;
                            border-radius : 100vmax;
                            font-family : "Ysabeau Office";
                            @media screen and (max-width : 990px){
                                font-size : 5vw;
                                padding : 0 20px;
                                min-height : 5vh;
                            }
        
                            &:focus{
                                outline : 1px solid $noir;
                            }
                        }    
                    }
        
                    #error-message{
                        position : absolute;
                        left : 0;
                        bottom : 0;
                        color : red;
                    }
                }
        
                &--bouton{
                    align-self: flex-end;
        
                    .bouton{
                        border-width : 1px;
                        text-transform: none;
                        min-height : 6vh;
                        @media screen and (max-width:990px){
                            font-size: 5vw;
                        } 
                    }
                }
            }
        }
    }

    .nav{
        display : none;
    }
}
