.bouton{
    position : relative;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap : nowrap;
    width : fit-content;
    min-height : 5vh;
    padding : 0 2vw;
    border-radius: 100vmax; 
    font-size : 1.1vw;
    text-transform: uppercase;
    font-family : $font-title;
    font-variation-settings:
        "wdth" 120,
        "wght" $regular;
    cursor : pointer;
    overflow: hidden;
    transition : .3s ease;
    z-index : 1;

    @media screen and (max-width:990px){
        font-size: 3.5vw;
        padding : 0 8vw;    
        min-height : 5vh;
        white-space : nowrap;
    }  

    &:hover{
        &::after{
            height : 100%;
        }      
    }

    &_marron{
        background-color: $primary;
        color : $secondary;
        &:hover{
            color : $primary;
            &::after{
                background-color: $secondary;
            }
        }     
    }

    &_beige{
        background-color: $secondary;
        color : $primary;
        &:hover{
            color : $secondary;
            &::after{
                background-color: $noir;
            }
        }  
    }

    &_noir{
        background-color: $noir;
        color : $secondary;
        &:hover{
            color : $noir;
            &::after{
                background-color: $secondary;
            }
        }  
    }


    &::after{
        position : absolute;
        content : "";
        bottom : 0;
        left : 0;
        width : 100%;
        height : 0;
        transition : .3s ease;
        z-index : -1;
    }
}