h1{
    font-family: "Archivo";
    font-size: 7vw;
    font-weight : 900;
    text-transform: uppercase;
    line-height : .75;
    padding : 0;
    margin : 0;
    color : $noir;

    span{
        font-size : 6vw;
        color : transparent;
        -webkit-text-stroke: 2px $noir;
    }

    @media screen and (max-width : 990px){
        font-size: 12vw;
        line-height : .9;

        span{
            font-size : 10vw;
            -webkit-text-stroke: 1px $noir;
        }
    }
}

h2{
    font-family: "Archivo";
    line-height : 1;
    font-size: 3.8vw;
    font-weight : 900;
    color : $noir;
    text-transform : uppercase;

    span{
        font-size: 3.5vw;
        color : transparent;
        -webkit-text-stroke: 2px $noir;
    }

    @media screen and (max-width:990px){
        font-size: 10vw;

        span{
            font-size: 9vw;
            -webkit-text-stroke: 1px $noir;
        }
    }
}


h3{
    font-family: "Archivo";
    line-height : 1.2;
    font-size: 1.2vw;
    font-weight : 900;
    color : $noir;
    text-transform : uppercase;  
    text-align : center;

    @media screen and (max-width:990px){
        font-size: 5vw;
    }
}

h4{
    font-family: "Archivo";
    line-height : 1.2;
    font-size: 1vw;
    font-weight : 600;
    color : $blanc;

    @media screen and (max-width:990px){
        font-size: 4vw;
    }
}



p, a, button{
    font-family: "Ysabeau Office";
    font-size: 1.1vw;
    font-weight: 300;
    line-height : 1.5;
    text-align : left;
    color : $noir;
    margin: 0;
    padding : 0;   

    &.subtitle{
        font-size : 1.5vw;
        font-weight : 500;
        line-height : 1.2;
        text-transform : uppercase;
    }

    span{
        font-family: inherit;
        font-size : inherit;
        font-weight : inherit;
    }

    @media screen and (max-width:990px){
        font-size: 5vw;

        &.subtitle{
            font-size : 5.5vw;
        }
    }
}