$noir2 : #373636;
$noir3 :  #2a2a2c;
$noir4 : #333745;
$vert : rgb(145, 168, 163);
$vert-pale : #E7ECEB;
$blanc : #FBFBFB;

$noir : #2a2e35;
$marron : #796254;
$marron-clair : #b09074;
$gris : #9f9da8;
$beige : #F8EDE3;

$vert-canard : #1f6b57;
$kaki : #798a7f;