@import "../style.scss";

.entreprise{
    display : flex;
    background-color: $secondary;
    @media screen and (max-width:990px){
        flex-direction: column-reverse;
    }

    &_img{
        width : 55vw;
        padding : 8.5vw 4.25vw 8.5vw 8.5vw;
        @media screen and (max-width:990px){
            width : 100%;
            height : 40vh;
            padding : 0;
        }

        &-img{
            width : 100%;
            height : 100%;
            overflow : hidden;

            img{
                width : 100%;
                height : 100%;
                object-fit: cover;
            }
        }
    }

    &_bloc{
        display : flex;
        align-items: flex-end;
        width : 45vw;
        padding : 8.5vw 8.5vw 8.5vw 4.25vw;

        @media screen and (max-width:990px){
            width : 100%;
            padding : 15vh 30px;
        }

        &-container{
            display : flex;
            flex-direction: column;
            gap : 10vh;

            @media screen and (max-width:990px){
                width : 100%;
            }       
            
            &--title{
                display : flex;
                flex-direction: column;
                gap : 3vh;

                .subtitle{
                    //font-size : 1.1vw;
                    color : $primary;
                }
            }

            &--txt{
                display : flex;
                flex-direction: column;
                gap : 5vh;

                @media screen and (max-width:990px){
                    width : 100%;
                }
            }
        }
    }

    &.entreprise-contact{

    }
}