@import "../style.scss";

.entreprise{
    display : flex;
    @media screen and (max-width:990px){
        flex-direction: column;
    }

    &_img{
        position : relative;
        width : 50%;
        @media screen and (max-width:990px){
            width : 100%;
            height : 40vh;
        }

        &-img{
            width : 100%;
            height : 100%;
            overflow : hidden;

            img{
                width : 100%;
                height : 100%;
                object-fit: cover;
            }
        }

        &-pastille{
            position : absolute;
            right : -2.6vw;
            top : 8.3vh;
            @media screen and (max-width:990px){
                top : unset;
                bottom : -10vw;
                right : -5vw;
            }

            img{
                width : 9.6vw;
                height : auto;
                @media screen and (max-width:990px){
                    width : 25vw;
                }

                &.img{
                    position : absolute;
                    top : 0;
                    left : 0;
                }
            }
        }
    }

    &_bloc{
        display : flex;
        justify-content: center;
        align-items: center;
        width : 50%;
        padding : 25vh 10vw 12vh 10vw;
        background-color: $vert-pale;
        @media screen and (max-width:990px){
            width : 100%;
            padding : 15vh 30px;
        }

        &-container{
            display : flex;
            flex-direction: column;
            gap : 7vh;

            @media screen and (max-width:990px){
                width : 100%;
            }

            &--title{
                h2{
                    color : $vert;
                }
            }
           

            &--txt{
                display : flex;
                flex-direction: column;
                gap : 5vh;

                @media screen and (max-width:990px){
                    width : 100%;
                }
            }
        }
    }
}