@import "../style.scss";

.header{
    display : flex;
    width : 100%;
    height : 100vh;
    @media screen and (max-width : 990px){
        flex-direction : column;
        height: var(--heightJs);
    }

    &_img{
        width : 35vw;
        height : 100%;

        @media screen and (max-width : 990px){
            width : 100%;
            height : 50vh;
        }

        img{
            width : 100%;
            height : 100%;
            object-fit: cover;
        }

        &::after{
            position : absolute;
            content : "";
            top : 0;
            left : 0;
            width : 100%;
            height : 100%;
            background-color: $blanc;
            animation : curtain .7s linear forwards;
        }
    }

    &_txt{
        position : relative;
        display : flex;
        align-items : center;
        width : 65vw;
        height : 100%;
        padding : 10vh 8.5vw;
        @media screen and (max-width : 990px){
            position : static;
            width : 100%;
            height : 50vh;
            padding : 15vh 30px 5vh 30px;
        }

        &-container{
            display : flex;
            flex-direction: column;
            gap : 5vh;
            @media screen and (max-width : 990px){
                gap : 2.5vh;
            }

            &--title{
                padding : 1px;

                h1{
                    opacity : 0;
                    transform : translateY(-50%);
                    animation : slideTop 1s ease forwards;
                }
            }

            &--subtitle{
                width : 35vw;
                @media screen and (max-width : 990px){
                    width : 100%;
                }

                p{
                    font-size : 2.1vw;
                    font-weight : 200;
                    line-height : 1.2;
                    opacity : 0;
                    transform : translateY(-100%);
                    animation : slideTop .7s ease .3s forwards;
                    
                    @media screen and (max-width : 990px){
                        font-size : 5vw;
                        line-height : 1.2;
                    }
                }
            }     
        }
        
        &-pastille{
            position : absolute;
            bottom : 2.5vw;
            right : 2.5vw;
            z-index : 99;
    
            @media screen and (max-width:990px){
                bottom : 30px;
                right : 30px;
            }
    
            img{
                width : 8vw;
                height : auto;

                &.img{
                    position : absolute;
                    top : 0;
                    left : 0;
                }

                &.txt{
                    animation : infiniteRotation 20s infinite linear;
                }
                
                @media screen and (max-width:990px){
                    width : 25vw;
                }
            }
        }
    }
}