@import "../style.scss";

.header{
    display : flex;
    width : 100%;
    height : 110vh;
    background-color: $blanc;
    @media screen and (max-width : 990px){
        flex-direction : column;
        //height: var(--heightJs);
    }

    &_img{
        position : relative;
        width : 40vw;
        height : 100%;
        overflow : hidden;

        @media screen and (max-width : 990px){
            width : 100%;
            height : 60vh;
        }

        img{
            width : 100%;
            height : 110vh;
            object-fit: cover;
        }

        &::after{
            position : absolute;
            content : "";
            top : 0;
            left : 0;
            width : 100%;
            height : 100%;
            background-color: $blanc;
            animation : curtain 1s linear .5s forwards;
        }
    }

    &_txt{
        position : relative;
        display : flex;
        align-items : center;
        width : 60vw;
        height : 100%;
        padding : 10vh 8.5vw;
        
        @media screen and (max-width : 990px){
            align-items : flex-end;
            width : 100%;
            height : 50vh;
            padding : 10vh 30px;
        }

        &-container{
            display : flex;
            flex-direction: column;
            gap : 5vh;
            @media screen and (max-width : 990px){
                gap : 2.5vh;
            }

            &--title{
                h1{
                    opacity : 0;
                    transform : translateY(-50%);
                    animation : slideTop 1s ease .4s forwards;
                }
            }

            &--subtitle{
                width : 35vw;
                @media screen and (max-width : 990px){
                    width : 100%;
                }

                p{
                    font-family: "Archivo";
                    text-transform : uppercase;
                    font-size : 1.3vw;
                    font-weight : 400;
                    line-height : 1.1;
                    opacity : 0;
                    transform : translateY(-50%);
                    animation : slideTop 1s ease .6s forwards;
                    
                    @media screen and (max-width : 990px){
                        font-size : 3.5vw;
                    }
                }
            }     
        }
        
        &-pastille{
            position : absolute;
            bottom : 15vh;
            right : -2.5vw;
            z-index : 99;
    
            @media screen and (max-width:990px){
                bottom : -15vw;
                right : 30px;
            }
    
            img{
                width : 8vw;
                height : auto;

                &.img{
                    position : absolute;
                    top : 0;
                    left : 0;
                }

                &.txt{
                    animation : infiniteRotation 20s infinite linear;
                }
                
                @media screen and (max-width:990px){
                    width : 25vw;
                }
            }
        }
    }
}