@import "../style.scss";

.header{
    position : relative;
    display : flex;
    width : 100%;
    height : 100vh;
    @media screen and (max-width : 990px){
        flex-direction : column;
        justify-content: space-between;
        height: var(--heightJs);
    }

    &_img{
        position : absolute;
        top: 0;
        right: 0;
        width : 55vw; 
        height : 100%;
        background-image: url("../img/galerie/header-accueil.jpg");
        background-size : contain;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;

        @media screen and (max-width : 990px){
            position : static;
            width : 100%;
            height : 55vh;
            background-attachment: unset;
            background-position: bottom;
            background-size : cover;
        }

        &::after{
            position : absolute;
            content : "";
            top : 0;
            left : 0;
            width : 100%;
            height : 100%;
            background-color: $blanc;
            animation : curtain .7s linear forwards;
        }
    }

    &_txt{
        display : flex;
        align-items : flex-end;
        padding-left : 8.5vw; 
        padding-bottom : 13vh;  

        @media screen and (max-width : 990px){
            padding : 15vh 30px 0 30px;
        }

        &-container{
            display : flex;
            flex-direction: column;
            gap : 3.5vh;

            &--title{
                padding : 1px;

                h1{
                    opacity : 0;
                    transform : translateY(-50%);
                    animation : slideTop 1s ease forwards;
                }
            }

            &--subtitle{
                margin-bottom : 7vh;
                @media screen and (max-width : 990px){
                    margin-bottom : 0;
                }

                p{
                    font-size : 2.1vw;
                    font-weight : 200;
                    line-height : 1.2;
                    opacity : 0;
                    transform : translateY(-100%);
                    animation : slideTop .7s ease .3s forwards;
                    
                    @media screen and (max-width : 990px){
                        font-size : 5vw;
                        line-height : 1.2;
                    }
                }
            }

            .bouton{
                opacity : 0;
                transform : translateY(-100%);
                animation : slideTop .7s ease .6s forwards;
                @media screen and (max-width : 990px){
                    display : none;
                }
            }      
        }   
    }

    &_pastille{
        position : absolute;
        bottom : 2.5vw;
        right : 2.5vw;

        @media screen and (max-width:990px){
            bottom : 5vw;
            right : 5vw;
        }

        img{
            width : 8vw;
            height : auto;
            
            @media screen and (max-width:990px){
                width : 25vw;
            }
        }
    }
}