@import "../style.scss";

.nav{
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content: space-between;
    width : 100%;
    padding : 2.5vh 0 2.5vh 8.5vw ;
    background: rgba(255, 255, 255, 0.342);
    border-bottom : 1px solid $noir;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    transition : .3s ease;
    transform : translateY(-100%);
    animation : slideTop .7s ease forwards;
    z-index : 100;

    @media screen and (max-width:990px){
        position : fixed;
        align-items: center;
        padding : 2.5vh 30px;
    }

    &_logo{
        width : 3vw;
        height : 3vw;
        @media screen and (max-width:990px){
            width : 8vw;
            height : 8vw;
        }

        img{
            width : 100%;
            height : 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &_links{
        position : relative;
        display : flex;
        align-items : center;
        justify-content: space-between;
        gap : 3.5vw;
        padding : 0 5vw;
        width : 55vw;

        @media screen and (max-width:990px){
            display : none;
        }

        &-link{
            position : relative;
            display : flex;
            align-items: center;
            gap : 1vw;
            font-size : 1.25vw;
            font-weight : 600;             
            cursor: pointer;  
            transition : .3s ease;
            
            &::after{
                position : absolute;
                content :"";
                left : 50%;
                bottom : -20%;
                transform : translateX(-50%);
                width : 0;
                height : 1px;
                background-color: $noir;
                transition : .5s ease;
                z-index : -2;
            }         

            &:hover{
                &::after{
                    width : 50%;
                }
            }
        }

        .bouton{
            min-height : 5vh;
        }
    }

    &_menu{
        position : relative;
        display : none;
        width : 8vw;
        height : 6vw;

        &-barre{
            position : absolute;
            left : 0;
            width : 100%;
            height : 2px;
            background-color: $noir;
            will-change : transform;
            transition : .5s ease;

            &:nth-child(1){
                top : 0;
                transform-origin : top;
            }

            &:nth-child(2){
                top : 50%;
                transform : translateY(-50%);
            }

            &:nth-child(3){
                bottom : 0;
                transform-origin : bottom;
            }
        }

        &.active{
            .nav_menu-barre:nth-child(1){
                top : 50%;
                transform : translateY(-50%) rotate(45deg) ;
            }

            .nav_menu-barre:nth-child(2){
                opacity : 0;
            }

            .nav_menu-barre:nth-child(3){
                top : 50%;
                transform : translateY(-50%) rotate(-45deg) ;
            }
        }

        @media screen and (max-width:990px){
            display : flex;      
        }
    }
}